.about-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

.about-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;
}

h1.about-title {
    color: orangered;
    margin: 15px;
}

p.about-text {
    color: black;
    margin: 10px;
}