.media-container {
	background-color: orangered;
}

.media {
	height: 50vh;
}

.media-img {
	height: 50%;
	margin: 10vh;
}

.media-text {
	color: white;
	font-size: 25px;
	margin: 10vh;
}

#media-text-container {
	height: 5vh;
	text-align: center;
}

