* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

h1.title {
    color: orangered;
    margin: 15px;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: orangered;
    line-height: 1.5;
}

.text {
    width: 50vw;
    align-items: center;
    justify-content: center;
    text-align: justify;
}


p.text {
    color: black;
    font-size: 16px;
}

#items {
    margin-left: 5vw;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

.media-container {
	background-color: orangered;
}

.media-img {
	height: 50%;
	margin: 10vh;
}

.media-text {
	color: white;
	font-size: 20px;
}

