* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

/* ABOUT */

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

h1 {
    margin-top: 1.2em;
}

.text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: orangered;
    line-height: 1.5;
}

.text {
    width: 50vw;
    align-items: center;
    justify-content: center;
    text-align: justify;
}


p.text {
    color: black;
    font-size: 1em;
}

#items {
    margin-left: 5vw;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.about-img {
    height: 25vh;
}

/* HOME */

.home-container {
    display: flex;
    justify-content: space-around;
    background-color: orangered;
    line-height: 1.5;
}

.home-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
}

.home-img  {
    height: 15vh;
}

.home-text {
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 2.5vh;
}

/* IN & OUT */

.inputs {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 25vh;
}

.form {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.input {
	border: 1px solid black;
	color: black;
	padding: 1em 2em;
    margin: 0.5vw;
    width: 15vw;
}

#submit {
	background-color: black;
	color: white;
}

#submit:hover {
	background-color: orangered;
	cursor: pointer;
}

.outputs {
	display: flex;
	justify-content: center;
	align-items: center;
    height: 50vh;
}

table, td, th {  
	border: 1px solid #ddd;
	text-align: left;
  }
  
table {
	border-collapse: collapse;
}

th, td {
	padding: 1em;
}

#edit {
	color: green;
}

#delete {
	color: red;
}

/* MEDIA */
@media screen and (max-width: 600px) {
	.home-container {
		flex-direction: column;
	}
    .text-container {
        height: 65vh;
    }
    .text {
        width: 65vw;
    }
    .inputs, .outputs {
        flex-direction: column;
    }
    .form {
        flex-direction: column;
        height: 50vh;
    }
    .input {
        width: 40vw;
    }
    th, td {
        padding: 0.5em;
    }
}