* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}

.input {
	color: black;
	padding: 14px 16px;
	border: 1px solid black;
}

#submit {
	background-color: black;
	color: white;
}

#submit:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}

.outputs {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}
