* {
	font-family: 'Bebas Neue', cursive;
	margin: auto;
	padding: auto;
}


/* Navigatin bar */
.nav-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #140005;
}

.nav-link {
  	float: left;
}

.nav-link-right {
	float: right;
}

a.nav-link {
	height: 4vh;
	font-size: 1.5em;
 	display: block;
 	color: white;
	text-align: center;
 	padding: 14px 16px;
 	text-decoration: none;
}

a.nav-link:hover {
 	background-color: #464033;
}

.active {
	background-color: #464033;
}


/* Main section */
.main {
	height: 95vh;
	display: flex;
	color: #140005;
	background-color: #BBC4C2;
}

.section {
	height: 105vh;
	display: flex;
	color: white;
	background-color: #464033;
}

.footer {
	height: 4vh;
	display: flex;
	color: white;
	background-color: #140005;
}

h1 {
	font-size: 2em;
}

.copyright {
	font-size: 1em;
}
