* {
	font-family: sans-serif;
}

.inputs {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.input {
	color: black;
	padding: 14px 16px;
	border: 1px solid black;
}

#submit {
	background-color: black;
	color: white;
}

#submit:hover {
	color: black;
	background-color: white;
	cursor: pointer;
}
/*
.table {
	color: black;
	padding: 14px 16px;
	border: 1px solid black;
	border:  collapse;
}

.outputs {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
} */